<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HiddenWords</title>
    <link href="../css/output.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/528f34854d.js" crossorigin="anonymous"></script>
</head>

<body class="font-poppins h-screen flex flex-col justify-between">
    <nav class="navbar">
        <div class="logo">HiddenWords</div>
        <div class="action-btns">
            <button class="help-btn text-2xl"><i class="fa-solid fa-circle-question"></i></button>
        </div>
    </nav>
    <!-- Words display section -->
    <section id="words-display" class="words-display"></section>

    <!-- Keyboard section -->
    <section id="keyboard-container" class="keyboard-container">
        <div class="keyboard">
            <div class="first-row gap-1">
                <button class="key">Q</button>
                <button class="key">W</button>
                <button class="key">E</button>
                <button class="key">R</button>
                <button class="key">T</button>
                <button class="key">Y</button>
                <button class="key">U</button>
                <button class="key">I</button>
                <button class="key">O</button>
                <button class="key">P</button>
            </div>
            <div class="second-row">
                <button class="key">A</button>
                <button class="key">S</button>
                <button class="key">D</button>
                <button class="key">F</button>
                <button class="key">G</button>
                <button class="key">H</button>
                <button class="key">J</button>
                <button class="key">K</button>
                <button class="key">L</button>
                <button class="key">Ñ</button>
            </div>
            <div class="third-row">
                <button class="action-key px-2 md:px-0 hover:bg-blue-200 hover:border-blue-200"><span
                        class="text-sm">Enter</span></i></button>
                <button class="key">Z</button>
                <button class="key">X</button>
                <button class="key">C</button>
                <button class="key">V</button>
                <button class="key">B</button>
                <button class="key">N</button>
                <button class="key">M</button>
                <button class="action-key hover:bg-red-200 hover:border-red-200"><i
                        class="fa-solid fa-delete-left"></i></button>
            </div>
        </div>
        <button id="reset-btn" class="reset-btn hidden">RESET</button>
    </section>
    <script src="../js/wordle-game.js"></script>
</body>

</html>